.base-search-input {
  border: none;
  transition: box-shadow $base-duration $base-timing;
  box-shadow: 0px 1px 0px 0px #bfbfbf;
  &:focus {
    box-shadow: 0px 2px 0px 0px #bfbfbf;
  }
}
.base-input {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  padding: 14px 12px;
  line-height: 24px;
  font-size: rem(16);
  font-weight: 300;
  border: none;
  &::placeholder {
    color: #a3a3a3;
  }
}

.checkbox-wrapper {
  display: flex;
}
.checkbox-input {
  @extend .visually-hidden;
  &:checked + .checkbox {
    background-color: #0a9bcd;
  }
}
.checkbox {
  position: relative;
  display: block;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin-right: 6px;
  transition: background-color $base-duration $base-timing;
  cursor: pointer;
}
.checkbox-text {
  font-size: 12px;
  line-height: 14px;
  color: #000;
}
.input-thin-wrapper {
  position: relative;
}
.input-thin-msg {
  left: 0;
  top: 100%;
  position: absolute;
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #4f4f4f;
}
.input-thin {
  padding: 8px 0;
  width: 100%;
  background-color: transparent;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #4f4f4f;
  border: none;
  border-bottom: 1px solid #4f4f4f;
}

.base-checkbox-input {
  @extend .visually-hidden;
  &:checked + .base-checkbox {
    &::before,
    &::after {
      opacity: 1;
    }
  }
}
.base-checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid #4f4f4f;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background: #0a9bcd;
    opacity: 0;
  }
  &::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 2px;
    transform: rotate(45deg);
    display: block;
    width: 4px;
    height: 6px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    opacity: 0;
  }
}
.base-checkbox-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #282828;
}

.radio-border-big-wrapper {
  position: relative;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  padding: 15px 28px 20px 38px;
  max-width: 350px;
  cursor: pointer;
  margin-bottom: 18px;
}
.radio-border-big-label {
  cursor: pointer;
}
.radio-border-big-title {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #000000;
}
.radio-border-big-input {
  @extend .visually-hidden;
  &:checked + .radio-border-big-head .radio-border-big-input-fake {
    &::after {
      opacity: 1;
    }
  }
}
.radio-border-big-input-fake {
  position: absolute;
  top: 18px;
  left: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #4f4f4f;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #0a9bcd;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
.radio-border-big-text {
  display: block;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #000000;
  font-weight: 300;
  margin-bottom: 12px;
}
.radio-border-big-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #f06400;
  text-decoration: underline;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-weight: 300;
  &:hover {
    text-decoration: none;
  }
}
.radio-border-big-head {
  display: block;
  margin-bottom: 16px;
  margin-right: 110px;
}
