.page-news {
  padding-bottom: 165px;
  @media screen and (max-width: $mobile-bp) {
    padding-bottom: 65px;
  }
}
.page-news-h3 {
  margin-bottom: 70px;
}

.page-news-img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  @media screen and (max-width: $mobile-bp) {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.page-news-block {
  .base-text {
    margin-bottom: 0.6em;
  }
}
