.page-signin-h3 {
  margin-bottom: 80px;
  @media screen and (max-width: $mobile-bp) {
    margin-bottom: 30px;
  }
}
.container--signin {
  max-width: 675px;
  .row {
    justify-content: space-between;
    @media screen and (max-width: $mobile-bp) {
      flex-direction: column;
      align-items: center;
    }
  }
}
.page-signin-col-msg {
  max-width: 260px;
}
.signin-form {
  max-width: 255px;
  @media screen and (max-width: $mobile-bp) {
    margin-bottom: 20px;
  }
}
.signin-form-title {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 28px;
  @media screen and (max-width: $mobile-bp) {
    text-align: center;
  }
}
.signin-form-title--icon {
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='22' viewBox='0 0 22 22' width='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 .333984c1.4145 0 2.771.561903 3.7712 1.562096 1.0002 1.0002 1.5621 2.35675 1.5621 3.77124s-.5619 2.77104-1.5621 3.77123c-1.0002 1.00015-2.3567 1.56215-3.7712 1.56215-1.41451 0-2.77106-.562-3.77126-1.56215-1.00019-1.00019-1.56209-2.35674-1.56209-3.77123s.5619-2.77104 1.56209-3.77124c1.0002-1.000193 2.35675-1.562096 3.77126-1.562096zm0 13.333316c5.8933 0 10.6666 2.3867 10.6666 5.3334v2.6666h-21.333287v-2.6666c0-2.9467 4.773337-5.3334 10.666687-5.3334z' fill='%23000'/%3E%3C/svg%3E");
  padding-left: 30px;
}
.signin-input-wrapper {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.signin-input {
  border: 1px solid #828282;
  border-radius: 3px;
  width: 100%;
  padding: 8px 10px;
  font-weight: normal;
}
.signin-btn {
  margin-bottom: 10px;
  width: 100%;
  padding: 12px;
}
.signin-text {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.page-signin-btn-msg {
  max-width: 255px;
  width: 100%;
}
