<footer class="main-footer">
    <div class="container">
      <div class="row row--wrap main-footer-inner">
          <div class="main-footer-col">
            <a href="#" class="main-footer-logo">
              <img src="./images/dest/icons/footer_logo.png" alt="Логотип">
            </a>
            <div class="main-footer-address">
              <p class="main-footer-text">
              Единый Call Center <br>
              Бесплатные звонки по всей Росии <br>
              <a class="main-footer-text" href="tel:+7 999 99 99"><strong>8 800 888 88 88</strong></a>
              </p>
            </div>
            <div class="main-footer-email">
              <p class="main-footer-text">
              Наша электронная почта <br>
              <a class="main-footer-text" href="mailto:info@kyocera-shop.ru"><strong>info@kyocera-shop.ru</strong></a>
              </p>
            </div>
          </div>

          <div class="main-footer-col">
            <p class="main-footer-title">КАТАЛОГ</p>
            <ul class="main-footer-list">
              <li><a href="#" class="main-footer-text">Принтеры</a></li>
              <li><a href="#" class="main-footer-text">МФУ</a></li>
              <li><a href="#" class="main-footer-text">Расходные материалы</a></li>
              <li><a href="#" class="main-footer-text">Опции</a></li>
              <li><a href="#" class="main-footer-text">Решения</a></li>
              <li><a href="#" class="main-footer-text">Акции</a></li>
              <li><a href="#" class="main-footer-text">Бонусы</a></li>
            </ul>
          </div>

          <div class="main-footer-col">
            <p class="main-footer-title">ИНТЕРНЕТ - МАГАЗИН</p>
            <ul class="main-footer-list">
              <li><a href="#" class="main-footer-text">Как сделать заказ</a></li>
              <li><a href="#" class="main-footer-text">Доставка и оплата</a></li>
              <li><a href="#" class="main-footer-text">Условия возврата и обменаы</a></li>
              <li><a href="#" class="main-footer-text">Корпоративные продажи</a></li>
              <li><a href="#" class="main-footer-text">Кредит в интернет-магазине</a></li>
            </ul>
          </div>

          <div class="main-footer-col">
            <p class="main-footer-title">СПОСОБЫ ОПЛАТЫ</p>
            <div class="main-footer-payment">
              <img src="./images/dest/icons/payment.png" alt="Платежные системы">
            </div>
          </div>
          <div class="main-footer-col">
            <div class="main-footer-social-block">
              <a href="#" class="main-footer-social main-footer-social--fb" target="_blank"><span class="visually-hidden">Фейсбук</span></a>
              <a href="#" class="main-footer-social main-footer-social--inst" target="_blank"><span class="visually-hidden">Инстаграм</span></a>
            </div>
          </div>
      </div>
    </div>
</footer>