<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <title>Kyocera</title>
    <meta name="viewport" content="width=device-width"/>
    <!-- <link rel="icon" href="img/favicon.png" /> -->
    <link rel="stylesheet" href="css/app.min.css"/>
  </head>

  <body style="padding: 100px 0;">
    <div class="container" style="width: 100%;">
      <h1 class="h1-base" style="margin-bottom: 40px">Kyocera</h1>
      <p>
        <a class="btn--orange-underline" href="./main_page.html">Главная</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./catalog_page.html">Каталог</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./expendable_materials_page.html">Расходные материалы</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./product_page.html">Страница товара</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./about_page.html">О магазине</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./news_page.html">Новости</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./basket_page.html">Корзина</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./signin_page.html">Войти в систему</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./sign_up_page.html">Регистрация</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./order_page.html">Оформление заказа</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./contacts.html">Контакты</a>
      </p>
      <p>
        <a class="btn--orange-underline" href="./lk.html">Личный кабинет</a>
      </p>
    </div>
    <script src="js/app.min.js"></script>
  </body>
</html>