{% macro productCard
(
  badge="false",
  descount="false",
  img="./images/dest/img/product.png",
  category="Монохромное МФУ",
  name="TASKalfa 3212i",
  cost="90 000",
  oldCost="100 000"
  )
%}
  <div class="product-card">
    <p class="product-card-category">
      <span>{{category}}</span>
      <span class="card-arrow card-arrow--product"></span>
    </p>
    {% if badge === true %}
      <span class="product-card-badge">Акция -10%</span>
    {% endif %}
    <div class="product-card-img">
      <img src="{{img}}" alt="Продукт">
    </div>
    <p class="product-card-name">{{name}}</p>
    <p class="product-card-cost"><span>{{cost}}</span>руб.</p>
    {% if descount === true %}
      <p class="product-card-cost-strike">{{oldCost}}</p>
    {% endif %}
    <div class="product-card-btns">
      <button class="product-card-btn product-card-btn--compare">
        <span class="visually-hidden">Сравнить</span>
      </button>
      <button class="product-card-btn product-card-btn--like">
        <span class="visually-hidden">Избранное</span>
      </button>
    </div>
    <div class="product-card-overlay">
      <button class="product-card-overlay-btn">
        <img src="./images/dest/icons/basket_white.png" alt="Иконка корзины">
        <span>В корзину</span>
      </button>
      <a href="#" class="btn product-card-overlay-btn">
        Подробнее
      </a>
    </div>
  </div>
{% endmacro %}

{% macro newsCard
(
  img="./images/dest/img/news1.png",
  date="17/06/2020",
  title="Kyocera представила новые устройства для печати цветных изображений.",
  text="Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis"
  )
%}
  <div class="news-card">
    <div class="news-card-img" style="background-image: url('{{img}}');">
      <span class="news-card-more">Подробнее <span class="card-arrow card-arrow--news"></span></span>
    </div>
    <p class="news-card-date">{{date}}</p>
    <p class="news-card-title">{{title}}</p>
    <p class="news-card-text">{{text}}</p>
  </div>
{% endmacro %}

{% macro breadcrumbs(breadcrumbsItems)
%}
<ul class="breadcrumb-item-wrapper">
  <li>
    <a href="./main_page.html" class="breadcrumb-item">
      Главная
    </a>
    /
  </li>
  {% for item in breadcrumbsItems %}
    {% if not loop.last %}
      <li>
        <a href="#" class="breadcrumb-item">
          {{item}}
        </a>
        /
      </li>
      {% else %}
      <li>
        <span href="#" aria-current="page" class="breadcrumb-item">
            {{item}}
        </span>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endmacro %}