{% extends "app/njk/layout/main.njk" %}
{% block content %}
  <div class="container">
    {% from "app/njk/macro.njk" import breadcrumbs %}
      {{ breadcrumbs([['Новости']]) }}
  </div>
  <div class="page-news">
    <h3 class="h3-base page-news-h3 text-center">Kyocera представила новые устройства для печати цветных изображений.</h3>
    <div class="container">
      <div class="page-news-block">
        <img src="./images/dest/img/news_img.png" alt="Продукт" class="page-news-img">
        <p class="base-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est quam hac sed suscipit. Quis in proin etiam amet egestas tristique. Morbi amet, ultrices nisl, ornare. Mauris eget urna, elementum sollicitudin vel praesent vel at accumsan. Nec gravida dui, ut cras tempus nisi, metus tortor lorem. Et sit fames quam posuere sed auctor. Blandit a, aliquam at odio sagittis in leo. Mauris, id adipiscing sem integer. Tempus cras mattis tortor elementum vel tristique. Scelerisque blandit vestibulum posuere cursus. Nam in dignissim gravida vel sagittis ac morbi enim habitasse. Feugiat diam volutpat pellentesque accumsan duis amet. Arcu massa, dolor ornare enim. Sociis faucibus leo id vitae dolor, viverra.
Dolor et fermentum quis urna, dolor, sed nisl scelerisque. Interdum mauris varius sit metus iaculis integer. Mattis bibendum mi vehicula eget adipiscing enim nec dui commodo. Sem nulla non ultricies sodales eget praesent mauris ipsum. Praesent sed eros ac adipiscing. Varius volutpat hendrerit ut eleifend elementum amet sollicitudin. Pharetra, placerat est vel in diam odio fringilla.
Ut justo non nisi massa facilisis. Pellentesque pretium, scelerisque dignissim ut venenatis felis scelerisque vestibulum. Vel dui molestie ultrices pharetra, faucibus scelerisque at. Sed enim ac sed euismod dignissim a quis morbi malesuada. Nunc vitae vulputate in ultrices egestas porttitor egestas vitae rutrum. Aliquam id augue pulvinar in. Pharetra, dictum parturient arcu luctus aliquam eget consequat. Tristique elementum odio interdum sit. Metus, in vestibulum tortor enim felis vulputate. </p>
        <p class="base-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna etiam odio ipsum erat mauris semper semper. Nunc, sed sed eget egestas felis, ornare cursus cras. Dictum cras sit mauris urna. Commodo pretium, nullam est accumsan viverra volutpat semper. Id risus adipiscing lorem dapibus eros. Lectus nunc, massa massa, velit erat nibh et, aliquam. Leo, leo bibendum tincidunt suspendisse orci morbi accumsan. Turpis semper sagittis porta penatibus nec tellus ipsum tincidunt. Elit quisque ultrices bibendum nulla imperdiet. Eget sapien purus, vestibulum amet, lacus in. At sed ipsum, morbi pellentesque malesuada habitasse elit. Rhoncus dolor malesuada vitae suspendisse sodales aliquet id.
        Id nisl, laoreet sed posuere arcu et, dui scelerisque velit. Morbi nam morbi suspendisse aliquet adipiscing in ultricies proin. Vel viverra gravida sit amet. Neque ipsum, turpis pharetra interdum leo morbi. Pellentesque at aliquam feugiat pulvinar. Sed tellus arcu in dolor facilisi in diam vulputate. Nulla consectetur tristique sit convallis vitae vitae purus. Nascetur pharetra, a blandit urna eget posuere sed sit. Pulvinar penatibus dui nisi erat sed quis mattis mus. Dictum phasellus sapien vulputate potenti sagittis nunc mi nibh. Nam et risus duis at justo mattis augue. Vitae libero, justo, et, elementum rhoncus. Amet sem blandit nam lacus id. Arcu quis viverra augue ut.
        Facilisi tortor, tellus id non est, ut sit purus eget. Aenean et, tellus lobortis metus commodo eget vitae pellentesque tristique. Sed vulputate malesuada porttitor sapien. Lectus aliquam at enim nisi quam suspendisse. Tincidunt mi sagittis, mattis aliquam tortor et. Cras nunc ut dictumst bibendum gravida sed sed habitasse libero. Accumsan vestibulum morbi neque tellus. Sagittis libero, congue amet ut. At eu nulla habitant arcu scelerisque ac mollis auctor at. Id magna tincidunt duis sit lobortis venenatis cras phasellus. Faucibus egestas neque, massa vulputate tempor sit nunc interdum bibendum. At pellentesque ultricies eu libero, erat vel a proin.
        Laoreet faucibus varius phasellus at semper dolor massa. Donec urna, vel imperdiet eget nibh morbi egestas. Aliquam bibendum tortor ut egestas posuere eu, placerat arcu. Vel iaculis quis nibh eu integer in phasellus consequat. Pulvinar ornare porta accumsan, eu, at nulla aliquet nulla lectus. Etiam integer vitae nulla volutpat senectus. Diam, sed sagittis, enim neque at tellus. Sed magna ut consectetur interdum convallis sed. Amet, ac malesuada tempus, id vitae, nulla auctor. Vel eget sit nisl magna venenatis. Hendrerit auctor vulputate faucibus eu.
        Maecenas mi ultrices egestas diam donec nisl massa orci. Posuere eget posuere dolor et dignissim hac. Consectetur gravida quam gravida pulvinar malesuada in fringilla sed. Eu libero purus aliquam et enim donec semper. Consequat lacinia in quam et libero. Tellus vel sed lacus, lectus nunc. In nisl in laoreet sed nibh odio. Eros amet eu suspendisse fusce velit nibh in amet. Convallis sollicitudin dui hendrerit in consequat metus volutpat massa id.</p>
      </div>
    </div>
  </div>
{% endblock %}